<html>
    <head>
        <title>$!title</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <style>
            * {
                color: #939393;
                font-family: "冬青黑体简体中文", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "黑体", "verdana", Arial, sans-serif;
            }
            a {
                color: #00ac97;
            }
        </style>
    </head>
    <body>
        <h3>$!user.username，</h3>
        #set($url = "http://107room.com/user/auth/reset/verify/$!data")
        <p>
            你好！请点击下面的链接完成重置密码：<a href="$url" target="_blank">$url</a>
        </p>
        <p>
            如果以上链接无法点击，请将上面的地址复制到你的浏览器的地址栏。
        </p>
        <p>
            本邮件由系统自动发送，请勿直接回复。如需帮助，请致信<a href="mailto:support@107room.com">support@107room.com</a>
        </p>
        <p>
            --
        </p>
        <p>
            107间，让租房真实而简单
            <br>
            <a href="http://107room.com" target="_blank">http://107room.com</a>
    </body>
    </p>
</html>