<style>
    #finishCard .banner {
        display: none;
    }
    #finishCard .resultBox {
        display: none;
        text-align: center;
        letter-spacing: 1px;
    }
    #finishCard .resultTag {
        margin: 40px 0 20px 0;
    }
    #finishCard .resultBox .title {
        font-weight: normal;
        font-size: 26px;
    }
    #finishCard .resultBox .desc {
        font-size: 14px;
        margin: 10px auto 20px;
        width: 224px;
    }
    #finishCard .resultBox .button {
        width: 150px;
    }
</style>

<div id="finishCard" class="card" onCardShow="showFinishCard">
    <div class="banner successBanner">
        <span class="title">发布房间</span>
        <span class="desc">发布成功</span>
    </div>
    <div class="banner failBanner">
        <span class="title">发布房间</span>
        <span class="desc">发布失败</span>
    </div>
    <div class="cardContent">
        <div class="success resultBox">
            <img class="resultTag" src="#staticUrl('image/icon/ok.png')" />
            <h2 class="title">恭喜你，发布成功</h2>
            <div class="desc">
                <span>你的房间已通过“龙猫中介识别系统”检测，进入人工审核阶段，我们会在一个工作日内通过邮件告知审核结果</span>
            </div>
            <a class="button buttonNormal" href="#url('/house/manage')">管理房间</a>
        </div>
        <div class="fail resultBox">
            <img class="resultTag" src="#staticUrl('image/icon/error.png')" />
            <h2 class="title">对不起，发布失败</h2>
            <div class="desc">
                <span>房间未通过“龙猫中介识别系统”的检测，你可以联系我们提出申诉</span>
            </div>
            <a class="button buttonNormal" href="#url('/user/feedback')">联系我们</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showFinishCard() {
        if (model.isAgency) {
            $('#finishCard .fail').show();
            $('#finishCard .failBanner').show();
        } else {
            $('#finishCard .success').show();
            $('#finishCard .successBanner').show();
        }

    }

</script>