#parse("_style.vm")

#set($pageTitle="意见箱")

#if($type == 1)
#set($bannerTitle = "有房待租")
#set($bannerDesc = "面向60万高素质学生群体，迅速找到心仪租客")
#set($message = "请简单描述下房子信息，我们会在一个工作日内与你联系（必填）")
#set($contact1 = "手机号码（必填）")
#set($contact2 = "其他联系方式")
#set($contact2Value = "$!userUtils.getUser($request, $response).email")
#set($successDesc = "感谢你的支持，我们的会在一个工作日内与你联系")
#set($successButton = "去看看我们的微博")
#set($successHref = "http://weibo.com/107room")
#set($successTarget = "target='_blank'")

##elseif($type == 2)

#else
#set($bannerTitle = "意见箱")
#set($bannerDesc = "分享你的建议、创意和想法")
#set($message = "你想说的话（必填）")
#set($contact1 = "邮箱（必填）")
#set($contactValue = "$!userUtils.getUser($request, $response).email")
#set($contact2 = "其他联系方式")
#set($successDesc = "感谢你的反馈，我们会尽快处理")
#set($successButton = "去找房")
#set($successHref = "#url('/house/search')")
#end

<link href="#staticUrl('css/flat-ui.css')" rel="stylesheet">
<style>
    #contactContainer {
        height: 435px;
        padding: 20px 0;
        position: relative;
    }
    .container {
        position: absolute;
        height: 435px;
        width: 100%;
        background-color: white;
        left: 0;
    }
    #contactContainer textarea, #contactContainer input {
        border-radius: 0;
        background-color: ${backgroundColor};
    }
    #contactContainer {
        padding: 20px 0;
    }
    #contactDiv {
        background-color: white;
        width: 100%;
        height: ${contentHeightPx};
        text-align: left;
    }
    #wordsDiv {
        float: left;
        width: 320px;
        text-align: center;
        margin: 40px 0 0 40px;
        
    }
    #wordsDiv p {
        padding: 36px 0;
        color: #ebac40;
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    #wordsContainer {
        width: 100%;
    }
    #wordsContainer #wordsCanvas {
        margin-top: 21px;
    }
    #messageDiv {
        float: left;
        margin-left: 40px;
        width: 620px;
        padding-top: 20px;
    }
    #message {
        height: 230px;
        width: 600px;
    }
    #messageDiv p {
        font-size: 16px;
        color: #9C9C9C;
        letter-spacing: 1px;
        padding: 10px 0;
    }
    #messageDiv p span {
        font-size: 12px;
    }
    #bottomBar {
        height: 50px;
        width: 622px;
    }
    #bottomBar > * {
        float: left;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        padding: 5px;
    }
    #bottomBar input {
        width: 425px;
    }
    #submit {
        border-radius: 0 0 0 0;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 120px;
        float: right;
    }
    #messageDiv .validContact {
        border: 0;
    }
    #messageDiv .invalidContact {
        border: 1px solid ${warnColor};
    }
    #resultDiv {
        display: none;
    }
    #resultDiv .ok {
        margin-top: 70px;
    }
    #resultDiv .desc1 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    #resultDiv .desc2 {
        margin: 10px auto;
        width: 250px;
    }
    #resultDiv #search {
        border-radius: 0;
        display: block;
        margin: 40px auto;
        padding: 15px 5px;
        width: 240px;
    }
</style>

<div id="contactContainer">
    <div id="contactDiv" class="container">
    	<div id="wordsDiv">
            <div id="wordsContainer">
                <canvas id="wordsCanvas" width="240" height="240">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                    <ul>
                        <li><a href="javascript: ;">我想直接点区域</a></li>
                        <li><a href="javascript: ;">赶紧出APP啊</a></li>
                        <li><a href="javascript: ;">界面好清新！</a></li>
                        <li><a href="javascript: ;">房子图片好大</a></li>
                        <li><a href="javascript: ;">要是能预约就好了</a></li>
                        <li><a href="javascript: ;">地图看晕了</a></li>
                        <li><a href="javascript: ;">其实这个配色男生也喜欢呢</a></li>
                        <li><a href="javascript: ;">朕中意这个风格</a></li>
                        <li><a href="javascript: ;">设计师是女生吧喵喵</a></li>
                        <li><a href="javascript: ;">有房东信息似乎更真实的说</a></li>
                        <li><a href="javascript: ;">你们还招人么</a></li>
                        <li><a href="javascript: ;">路过。。。</a></li>
                        <li><a href="javascript: ;">啥时候来上海</a></li>
                        <li><a href="javascript: ;">弱问名字啥意思~~</a></li>                                      
                    </ul>
                </canvas>
            </div>
            <p>畅所欲言，我们在听</p>
        </div>
        <div id="messageDiv">
            <p>你想说的话<span> (必填)</span></p>
            <textarea id="message" name="message" class="validContact"></textarea>
            <p>你的邮箱<span> (必填)</span></p>
            <div id="bottomBar">
                <input id="contact" name="contact1" value="$!contactValue" class="contactInput validContact" type="text" />
                <a id="submit" href="javascript:;" class="btn btn-large btn-block btn-primary">提交</a>
            </div>
            <input name="type" value="$!type" type="hidden" />
        </div>
    </div>
    <div id="resultDiv" class="container">
        <img class="ok" src="#staticUrl('image/icon/ok.png')" />
        <p class="desc1">
            提交成功
        </p>
        <p class="desc2">
            $!successDesc
        </p>
        <a id="search" href="$!successHref" class="btn btn-large btn-block btn-primary" $!successTarget>$!successButton</a>
    </div>
</div>

#function_containerHeight()
<script src="#staticUrl('js/jquery.tagcanvas.min.js')"></script>
<script type="text/javascript">
    var containerSpace = 0;
    function initLayout() {
        containerSpace = ($(window).width() - $(".container").width()) / 2;
        var left = 0;
        $(".container").each(function() {
            $(this).css("left", left);
            left += $(this).width() + containerSpace;
        });
        
        if(!$('#wordsCanvas').tagcanvas({
                textColour: '#1fa38c',
                textHeight: 14,
                outlineMethod: 'none',
                reverse: true,
                depth: 0.75,
                decel: 0.99,
                maxSpeed: 0.03,
                weight: 'false',
                weightSize: '',
                minBrightness: '0.2',
                pulsateTo: 0.6,
                pulsateTime: 0.5,
                wheelZoom: true,
                fadeIn: 1000,
                clickToFront: 600,
                zoomMin: 0.3,
                zoomMax: 2,
                initial: [0.13, 0]
            })) {
                $('#wordsContainer').css({visibility:hidden});
        }
    }

    $("#submit").click(function() {
        var valid = true;
        $("#message,#contact").each(function() {
            if ($(this).val()) {
                $(this).removeClass("invalidContact").addClass("validContact");
            } else {
                valid = false;
                $(this).removeClass("validContact").addClass("invalidContact");
            }
        });
        if (valid) {
            var param = {
                "message" : $("#message").val(),
                "contact" : $("#contact").val(),
            };
            $.post("#url('/contact/submit')", appendDebug(param), function(data) {
                $("#resultDiv").show();
                $(".container").each(function() {
                    var left = parseInt($(this).css("left"));
                    $(this).animate({
                        "left" : left - $(this).width() - containerSpace
                    }, 500);
                });
            });
        }
    });

    $(function() {
        initLayout();
    });
</script>