#set($pageTitle="管理员登录")

<style>
</style>

<form method="post" action="#url('/admin/user/login/submit')">
    <div>
        <label>用户名</label>
        <input name="username" type="text" value="" />
    </div>
    <div>
        <label>密码</label>
        <input name="password" type="password" value="" />
    </div>
    <div>$!error</div>
    <button type="submit">登录</button>
</form>
